@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --darker-color: #113547;
    --primary-color: #277ca5;
    --secondary-color: #64c2ec;
    --lighter-color: #b8f5ff;
    --grey: #666666;
    --light-grey: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.link {
    text-decoration: none;
}

.header {
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--darker-color);
    color: white;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo i {
    font-size: 2.8rem;
}

.header__menu {
    display: flex;
    gap: 2.5rem;
}

.header__menu-item {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .5rem;

    transition: .3s;
}

.header__menu-item:hover {
    transform: scale(1.08);
}

.header__menu .link {
    color: white;
}

.home {
    padding: 2rem 0;
}

.banner {
    margin: 2rem 4rem;
    padding: 2.5rem 3.5rem;
    height: 330px;

    display: flex;
    align-items: center;

    background-color: var(--primary-color);
    background-image: url('../public/images/e-commerce.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 90% 45%;
    border: transparent;
    border-radius: 1.2rem;
}

.banner__text {
    font-size: 2rem;
    font-weight: 800;
    color: white;
}

.product-list {
    padding: 1rem 4rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 2.8rem;
}

.product-list__title {
    font-size: 1.7rem;
}

.shop__title {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-size: 1.4rem;
    font-weight: 700;
}

.shop__title i {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}

.product-card-list {
    margin-top: 1.3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-card {
    padding: 12px;
    width: 224px;

    display: flex;
    flex-flow: column nowrap;
    gap: .35rem;

    border: transparent;
    border-radius: 6px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);

    position: relative;
}

.product-card__like {
    position: absolute;
    top: 218px;
    right: 18px;

    font-size: 1.1rem;
    font-weight: 700;
}

.product-card__image {
    width: 200px;
    height: 200px;

    border: solid 1px var(--darker-color);
    border-radius: 5px;
}

.product-card__text {
    margin: 0 2px;
}

.product-card__info {
    width: 172px;
    height: 140px;

    display: flex;
    flex-flow: column nowrap;
    gap: .12rem;
}

.product-card__title {
    font-size: 1.05rem;
    font-weight: 700;
}

.product-card__description {
    font-size: .85rem;
}

.product-card__price {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.product-card__price i {
    font-size: 1.2rem;
}

.product-card__price-amount {
    padding: 3px 8px;

    font-size: .9rem;
    font-weight: 800;
    color: white;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 5px;
}

.product-card__price-before-discount {
    font-weight: 700;
    color: var(--primary-color);
}

.product-card__button {
    margin-top: .15rem;
    padding: .55rem 2rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    font-size: .97rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    border: transparent;
    border-radius: .5rem;

    cursor: pointer;

    transition: .3s;
}

.product-card__button:hover {
    background-color: var(--darker-color);
}

.product-card__button-in-cart {
    background-color: var(--darker-color);
}

.cart {
    padding: 2rem 4rem 3rem 4rem;
}

.cart__title {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.7rem;
}

.cart__empty {
    margin-top: 4rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cart__empty-image {
    width: 150px;
    height: 150px;
}

.cart__empty-text {
    font-size: 1.5rem;
}

.cart__empty-button {
    padding: .8rem 1.5rem;

    display: flex;
    align-items: center;
    gap: .5rem;

    text-decoration: none;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 800;
    color: white;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: .5rem;

    transition: .3s;
}

.cart__empty-button i {
    font-weight: 500;
}

.cart__empty-button:hover {
    box-shadow: 4px 4px 0px 1px var(--darker-color)
}

.cart__shop-back {
    margin-top: 1.5rem;

    display: flex;
    align-items: center;
    gap: .3rem;

    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--primary-color);

    transition: .3s;
}

.cart__shop-back:hover {
    transform: translateX(-1.5rem);
}

.cart__container {
    margin-top: 1.5rem;

    display: flex;
    gap: 2.5rem;
}

.cart__shop-list {
    width: 70%;

    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

.cart__shop-list-total {
    width: 100%;
    padding: 1rem 1.5rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    font-size: .98rem;
    font-weight: 800;
    border: transparent;
    border-radius: .5rem;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.cart__shop-list-total-checkbox {
    accent-color: var(--primary-color);
    transform: scale(1.2);
}

.cart__shop-list-qty-n-delete {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__shop-list-delete {
    font-size: .95rem;
    color: var(--primary-color);

    cursor: pointer;
}

.cart__checkout {
    width: 30%;
    height: max-content;
    padding: 1rem 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    border: transparent;
    border-radius: .5rem;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cart__checkout-title {
    font-size: 1.2rem;
    font-weight: 800;
}

.cart__checkout-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.1rem;
}

.cart__checkout-button {
    width: 100%;
    padding: .8rem 1.5rem;

    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: .5rem;

    cursor: pointer;

    transition: .3s;
}

.cart__checkout-button:hover {
    background-color: var(--darker-color);
}

.cart__shop {
    padding: 1rem 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;

    border: transparent;
    border-radius: .5rem;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cart__shop-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart__shop-header input[type="checkbox"] {
    accent-color: var(--primary-color);
    transform: scale(1.2);
}

.cart__shop-title-n-delete {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__shop-header-title {    
    display: flex;
    align-items: center;
    gap: .5rem;

    font-size: 1.2rem;
    font-weight: 700;
}

.cart__shop-header-title i {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.cart__shop-delete {
    font-size: .95rem;
    font-weight: 800;
    color: var(--primary-color);

    cursor: pointer;
}

.cart__shop-container {
    max-height: fit-content;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.cart__shop-product {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.cart__shop-product input[type="checkbox"] {
    accent-color: var(--primary-color);
    transform: scale(1.2);
}

.cart__product-image {
    width: 100px;
    height: 100px;

    border: solid 1px var(--darker-color);
    border-radius: 5px;
}

.cart__product-all-info {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.cart__product-info {
    display: flex;
    flex-flow: column;
    gap: .2rem;
}

.cart__product-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.cart__product-description {
    font-size: .9rem;
}

.cart__product-price {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cart__product-price-amount {
    font-size: .98rem;
    font-weight: 800;
    color: var(--primary-color);
}

.cart__product-price-before-discount {
    color: black;
}

.cart__product-note {
    font-size: .85rem;
    color: var(--grey);
}

.cart__product-qty-n-buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: .8rem;
}

.cart__product-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.3rem;
    font-weight: 500;
    color: var(--light-grey);

    transition: .3s;
}

.cart__product-buttons i:hover {
    color: black;
}

.cart__product-buttons i {
    cursor: pointer;
}

.cart__product-qty-button {
    margin-top: 5px;

    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.2rem;
    font-weight: 600;
}

.cart__product-qty-button i {
    cursor: pointer;
}

.cart__product-qty {
    display: flex;
    align-items: center;
    gap: .8rem;

    font-size: 1rem;
}

.cart__product-qty-text {
    text-align: center;
    font-weight: 600;
}

.cart__product-add-qty, .cart__product-subtract-qty {
    padding: 5px 10px;

    font-weight: 700;
    color: white;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 3px;

    cursor: pointer;

    transition: .3s;
}

.cart__product-add-qty:hover, .cart__product-subtract-qty:hover {
    background-color: var(--darker-color);
}

.cart__product-add-note {
    margin-left: 1.5rem;
    margin-bottom: .5rem;

    display: flex;
    flex-flow: column;
    gap: .2rem;
}

.cart__product-add-note-text {
    font-size: .95rem;
    font-weight: 700;
}

.cart__product-add-note-form {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

.cart__product-add-note-input-n-limit {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    gap: .2rem;
}

.cart__product-add-note-input {
    width: 100%;
    height: 30px;
    padding: 2px 5px;

    font-size: .88rem;
}

.cart__product-add-note-input:focus {
    outline-color: var(--primary-color);
    outline-width: 1px;
}

.cart__product-add-note-limit {
    font-size: .85rem;
    font-weight: 600;
}

.cart__product-add-note-submit, .cart__product-add-note-cancel {
    padding: 6px 10px;

    font-size: .85rem;
    font-weight: 700;
    color: white;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 3px;

    cursor: pointer;

    transition: .3s;
}

.cart__product-add-note-submit:hover, .cart__product-add-note-cancel:hover {
    background-color: var(--darker-color);
}